* text=auto !eol
/apertium-br-es.br-es.dix -text
/apertium-br-es.br.dix -text
/apertium-br-es.es.dix -text
dev/cross-model-br-fr-es.xml -text
dev/cross.xml -text
dev/not-common-apertium-br-fr.br-fr.dix -text
dev/not-common-apertium-br-fr.br.dix -text
dev/not-common-apertium-fr-es.es.dix -text
dev/not-common-apertium-fr-es.fr-es.dix -text
dev/patterns-not-detected.xml -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
